@model XeMart_DoAn.Models.TaiKhoan
@{ ViewBag.Title = "DangNhap";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<style>
    .form-control1 {
        width: 300px;
        height: 50px;
        margin-left: 50px;
        padding-left: 20px;
        border: 1px solid black;
    }
    .form-control2 {
        width: 300px;
        height: 50px;
        margin-left: 22px;
        padding-left: 20px;
        border: 1px solid black;
    }
    .mdl-textfield__label {
        margin-left: 400px;
    }
    .alert {
        background: #ffdada;
    }
</style>
<div class="watched"></div>
@using (Html.BeginForm("Login", "DangNhap", FormMethod.Post))
{
    <div>
        <img src="~/wwwroot/images/tgdd.jpg" style="width: 400px; margin-left: 400px;" />
    </div>
    <!--Email-->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="sample3">Email</label>
        @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control1", @placeholder = "Email" })
    </div>
    <br />
    <br />
    <!--Password-->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <label class="mdl-textfield__label" for="sample3">Password</label>
        @Html.PasswordFor(m => m.MatKhau, new { @class = "form-control2", @placeholder = "Password" })
    </div>
    <br />
    <div class="form-group " style="margin-left:520px">
        <input type="submit" name="submit" class="btn-block btn-primary btn-lg font-weight-medium auth-form-btn" value="ĐĂNG NHẬP" style="background-color:#3d57f2;height:40px;width:150px;margin-top:20px;font-weight:bold;color:white;border:0px;cursor:pointer" />
    </div>
    <br />
    <p class="forgot-text" style="margin-left:500px">
        Không có tài khoản?
        <a href="@Url.Action("DangKy", "DangNhap")" class="text-primary" style="color:blue;text-decoration:none">Đăng ký</a>
    </p>
    <br />
    <!--CheckBox-->
    @Html.AntiForgeryToken() if (ViewBag.error != null)
    {
        <div class="form-group">
            <div class="alert alert-danger" style="text-align:center;margin-top:0px;height:45px;vertical-align:middle;padding-top:10px;padding-bottom:10px;font-size:18px;color:red">
                @ViewBag.error
            </div>
        </div>
    }
}
<script src="../../vendors/base/vendor.bundle.base.js"></script>
<script src="../../js/off-canvas.js"></script>
<script src="../../js/hoverable-collapse.js"></script>
<script src="../../js/template.js"></script>


